#title {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#resultElement {
  background-color: rgb(255, 0, 212);
  border-radius: 10px;
  color: white;
}
body {
  background-color: lightblue;
}